{% load staticfiles %}
<div class="pinglun-entry">
            <div class="pinglun-avatar">
                <img src="{{ request.user.get_avatar_url }}">
            </div>
            <div class="pinglun-body">
                <h3>
                    {{ comment.user_name }}
                    <span class="pull-right">{{ comment.submit_date|timesince }}</span>
                </h3>
                {% if comment.parent %}
                <div class="parent-pinglun">
                    <blockquote>
                        <em><i class="fa fa-quote-left"></i>{{ comment.parent.user_name }}</em><br>
                        <div>{{ comment.parent.content|safe }}</div>
                    </blockquote>
                </div>
                {% endif %}
                <div class="pinglun-text">{{ comment.content|safe }}</div>
            </div>
            <div class="clear"></div>
            <div class="pinglun-bottom">
                <a href="#" title="踩"><span class="dianzan pull-right"><i class="fa fa-thumbs-o-down"></i></span></a>
                <a href="#" title="赞"><span class="dianzan pull-right"><i class="fa fa-thumbs-o-up"></i></span></a>
                <a class="reply" href="#"><span class="pull-right">回复</span></a>
                <div class="clear"></div>
            </div>
        </div>