{% load staticfiles %}
<div class="pinglun-entry" id="c{{ comment.id }}">
            <div class="pinglun-avatar">
                <img src="{{ comment.user.get_avatar_url }}">
            </div>
            <div class="pinglun-body">
                <h3>
                    {{ comment.user_name }}
                    <span class="pull-right">{{ comment.submit_date|timesince }}</span>
                </h3>
                {% if comment.parent %}
                <div class="parent-pinglun">
                    <blockquote>
                        <em><i class="fa fa-quote-left"></i>{{ comment.parent.user_name }}</em><br>
                        <div>{{ comment.parent.content|safe }}</div>
                    </blockquote>
                </div>
                {% endif %}
                <div class="pinglun-text">{{ comment.content|safe }}</div>
            </div>
            <div class="clear"></div>
            <div class="pinglun-bottom">
                <a class="dianzan" href="{% url 'easy_comment:comment_like' comment.id %}" data-id="{{ comment.id }}" data-action="dislike" title="踩">
                    <span class="dianzan pull-right">
                        <i class="fa fa-thumbs-o-down {% if request.user in comment.users_dislike.all %}
                        danger
                        {% endif %}"></i>
                        <p class="dislikes_count">{{ comment.likes_count.dislikes }}</p>
                    </span>
                </a>
                <a class="dianzan" href="{% url 'easy_comment:comment_like' comment.id %}" data-id="{{ comment.id }}" data-action="like" title="赞">
                    <span class="pull-right">
                        <i class="fa fa-thumbs-o-up {% if request.user in comment.users_like.all %}
                        danger
                        {% endif %}"></i>
                        <p class="likes_count">{{ comment.likes_count.likes }}</p>
                    </span>
                </a>
                <a class="reply" id="{{ comment.id }}" href="#评论" data-name="{{ comment.user_name }}">
                    <span class="pull-right">回复</span>
                </a>
                <div class="clear"></div>
            </div>
        </div>