{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block site_info %}
<title>用户登录-AA的博客</title>
<meta name="keywords" content="用户登录"/>
<meta name="description" content="{{ SITE_DESCP }}" />
{% endblock site_info %}

{% block local-account %}
    <div class="header"><h2>登录</h2></div>
    <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="button button-primary-flat button-rounded" type="submit">{% trans "Sign In" %}</button>
        <div class="regis">
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a class="pull-right" href="{% url 'account_signup' %}">新用户注册</a>
        </div>
    </form>
{% endblock local-account %}