{% extends "account/user_detail.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block site_info %}
<title>修改密码-AA的博客</title>
<meta name="keywords" content="修改密码"/>
<meta name="description" content="{{ SITE_DESCP }}" />
{% endblock site_info %}

{% block local-account %}
    <div class="header"><h2>{% trans "Change Password" %}</h2></div>
    <form method="POST" action="{% url 'account_change_password' %}" class="login password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="button button-primary-flat button-rounded">{% trans "Change Password" %}</button>
    </form>
{% endblock local-account %}
