{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block local-account %}
    <div class="header">
        <h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
    </div>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="login">
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        </div>
    {% else %}
        {% if form %}
            <form class="login" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="button button-primary-flat button-rounded" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <div class="login">
                <p>{% trans 'Your password is now changed.' %}</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock local-account %}