{% extends "account/user_detail.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block site_info %}
<title>设置密码-AA的博客</title>
<meta name="keywords" content="设置密码"/>
<meta name="description" content="{{ SITE_DESCP }}" />
{% endblock site_info %}

{% block local-account %}
    <div class="local-header"><h4>{% trans "Set Password" %}</h4></div>
    <form method="POST" action="{% url 'account_set_password' %}" class="login password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="primaryAction" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock local-account %}
