{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block site_info %}
<title>密码重置-AA的博客</title>
<meta name="keywords" content="密码重置"/>
<meta name="description" content="{{ SITE_DESCP }}" />
{% endblock site_info %}

{% block local-account %}
    <div class="header"><h2>密码重置</h2></div>
    {% if user.is_authenticated %}
    {% user_display user as user_display %}
    <div class="login">
        <p><strong>{% trans "Note" %}:</strong> {% blocktrans %}you are already logged in as {{ user_display }}.{% endblocktrans %}</p>
    </div>
    {% endif %}
    <div class="login">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="login">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="button button-primary-flat button-rounded" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
{% endblock local-account %}