{% extends 'account/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block site_info %}
<title>用户注册-AA的博客</title>
<meta name="keywords" content="用户注册"/>
<meta name="description" content="{{ SITE_DESCP }}" />
{% endblock site_info %}

{% block local-account %}
    <div class="header"><h2>注册</h2></div>
    <form class="login signup" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form|crispy}}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
        <button class="button button-primary-flat button-rounded" type="submit">{% trans "Sign Up" %} &raquo;</button>
        <a class="button button-primary-flat button-rounded pull-right" href="{{ login_url }}">已有账号登录</a>
    </form>
{% endblock local-account %}