{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block site_info %}
<title>个人资料 - AA的博客</title>
{% endblock site_info %}
{% block local-account %}
    <div class="header"><h2>个人资料</h2></div>
    <form class="login" method="post" enctype="multipart/form-data" action="{% url 'blog:account_profile' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="avatar pull-right">
            <img class="img-rounded" src="{{ request.user.avatar.url }}">
        </div>
        <button class="button button-primary-flat button-rounded" type="submit" style="display: block">更新资料</button>
    </form>
{% endblock local-account %}

{% block sidebar %}
    <div class="social-login user_profile">
        <div class="social-header">
            <h4>{% if request.user.nickname %}{{ request.user.nickname }}{% else %}{{ request.user.username }}{% endif %}-Profile</h4>
        </div>
        <div class="social-provider">
            <a class="basic_info"
               href="{% url 'blog:account_profile' %}">
                <i></i>
                基本信息
            </a>
        </div><div class="social-provider">
            <a class="basic_info"
               href="{% url 'account_change_password' %}">
                <i></i>
                修改密码
            </a>
        </div>
    </div>
{% endblock sidebar %}