<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
{% load blog_tags %}
{% load staticfiles %}
{% load account %}
{% load notifications_tags %}
{% load comment_tags %}
<head>
{% block site_info %}
<title>{{ SITE_NAME }}</title>
<meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
<meta name="description" content="{{ SITE_DESCP }}" />
{% endblock site_info %}
{% block extra_head %}
{% endblock extra_head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charseutft=-8" />
<link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}" />
<link rel="bookmark" href="{% static 'blog/images/favicon.ico' %}" />
<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!-- 微博验证 -->
<meta property="wb:webmaster" content="fcf81cdbd4a4acc6" />
<!-- Baidu Verification-->
<meta name="baidu-site-verification" content="KYsqOq4afw" />

<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--theme-style-->
<link href="{% static 'blog/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'blog/css/form.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'easy_comment/css/comment.css' %}" rel="stylesheet" type="text/css">
<!--//theme-style-->

<link href="{% static 'blog/css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>
<!--highlight-->
<link rel="stylesheet" href="{% static 'blog/css/prism.css' %}">

</head>
<body>
<!--header-->
<div class="back">
	<img src="{% static 'blog/images/back.png' %}" alt="" style="width: 390px; height: 390px;">
</div>
<div class="container">
    <div class="main-top">
        <div class="main">
            <div class="header">
                <div class="header-top">
                    <div class="header-in">
                        <div class="logo">
                            <a href="/"><img src="{% static 'blog/images/logo.png' %}" alt="" ></a>
                        </div>
                        <div class="search pull-right">
                            <form role="search" method="get" action="{% url 'blog:search' %}">
                                {% csrf_token %}
                                <input type="search" name="q" placeholder="搜索" required>
                                <input type="submit" value="SEARCH">
                            </form>
                        </div>
					    <div class="clearfix"> </div>
				    </div>
				    <div class="header-top-on">
                        {% notifications_unread as unread_count %}
					    <ul class="social-in">
                            {% if user.is_authenticated %}
                            <li class="bell">
                                <a href="{% url 'notifications:all' %}" style="font-size: 1.6em">
                                    <i class="glyphicon glyphicon-bell"></i>
                                    <span class="live-notify-badge"></span>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img class="img-rounded" src="{{ request.user.avatar.url }}">
                                    <span class="username">
                                        {% if request.user.nickname %}
                                            {{ request.user.nickname }}
                                        {% else %}
                                            {{ request.user.username }}
                                        {% endif %}
                                    </span>
                                    <i></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">消息<span class="badge unread-count"></span></a></li>
                                    <li><a href="{% url 'blog:account_profile' %}">设置</a></li>
                                    <li><a href="{% url 'account_logout' %}?next={{ request.path }}">登出</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}?next={{ request.path }}">
                                <span class="username" style="font-size: 1.2em">登录</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"><span class="username" style="font-size: 1.2em">/</span></a>
                            </li>
                            <li><a href="{% url 'account_signup' %}">
                                <span class="username" style="font-size: 1.2em">注册</span></a>
                            </li>
                            {% endif %}
					    </ul>
				    </div>
				<div class="clearfix"> </div>
			    </div>
			<!---->
                <div class="header-bottom">
                    <div class="navigation">
                        <div>
                            <label class="mobile_menu" for="mobile_menu">
                                <span>Menu</span>
                            </label>
                            <input id="mobile_menu" type="checkbox">
                            <ul class="nav">
                                <li><a class="color1" href="/"> 首 页 </a></li>
                                <li><a href="{% url 'blog:category' 'django' %}" class="color2"> Django </a></li>
                                <li><a href="{% url 'blog:category' 'python-study-notes' %}" class="color3"> Python </a></li>
						        <li><a href="{% url 'blog:category' 'resources-share' %}" class="color4">资源分享</a></li>
                                <li><a href="https://github.com/r26zhao" target="_blank" class="color5"> GitHub </a></li>
						        <li style="max-width: 481px"><a href="javascript:void(0);" class="color6"> About </a></li>
						        <div class="clearfix"></div>
					        </ul>
                        </div>
                    </div>
                </div>
            </div>
        {% block message %}
        {% if messages %}
         <div id="myAlert" class="alert alert-success auth-message">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
	        {% for message in messages %}
	        <strong>{{message}}</strong>
	        {% endfor %}
         </div>
        {% endif %}
        {% endblock message %}

		    {% block gallery %}

            {% endblock gallery %}
            <div class="content">
	            <div class="col-md-8 content-top">
                    {% block content %}
                    {% endblock content %}
                    {% block comment %}
                    {% endblock comment %}
	            </div>
	<!---->
		        <div class="col-md-4 content-bottom">
                {% block sidebar %}
			        <div class="story"><h4  class="stories"><span>推荐阅读</span></h4></div>
			        <!---->
                    <div class="cd-tabs">
			            <nav>
				            <ul class="cd-tabs-navigation">
					            <li><a data-content="fashion"  href="#0">评论排行<i> </i></a></li>
                                <li><a data-content="cinema" href="#0" class="selected fashion1">阅读排行<i> </i></a></li>
					            <li><a data-content="television" href="#0" class="fashion2">最新文章<i> </i></a></li>
                            </ul>
			            </nav>
	                    <ul class="cd-tabs-content">
		                    <li data-content="fashion" >
		                        <div class="top-men">
                                    {% get_comment_rank as post_list %}
                                    {% for post in post_list %}
                                    <div class="post_rank">
                                        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li data-content="cinema" class="selected">
		                        <div class="top-men">
                                    {% get_reading_rank as post_list %}
                                    {% for post in post_list %}
                                    <div class="post_rank">
                                        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <li data-content="television" >
                                <div class="top-men">
                                    {% get_recent_post as post_list %}
                                    {% for post in post_list %}
                                    <div class="post_rank">
                                        <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                    </div>
                                    {% endfor %}
                                </div>
                            </li>
                            <div class="clearfix"></div>
	                    </ul>
                    </div>
                    <div class="grid-top">
				        <h4>分&nbsp&nbsp&nbsp类</h4>
                        {% get_category as category_list %}
				        <ul>
                            {% for category in category_list %}
                             <li><a href="{% url 'blog:category' category.slug %}">{{ category.name }} ({{ category.post_num }})</a></li>
                            {% empty %}
                             <li>暂时没有分类！</li>
                            {% endfor %}
				        </ul>
                    </div>
				        <!---->
                    <div class="grid-top-in">
                        <h4>标 签 云</h4>
                        <ul>
                            {% get_tag as tag_list %}
                            {% for tag in tag_list %}
                            <li><a href="{% url 'blog:tag' tag.slug %}">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endblock sidebar %}
				<!---->
                </div>
                <div class="clearfix"></div>
		    </div>
        </div>
	    <i class="line"> </i>
	    <i class="line-in"> </i>
	    <i class="line-in line-in1"> </i>
	    <i class="line-in line-in2"> </i>
	</div>
    <p class="footer-class">Copyright © 2017 AA的博客<br>鲁ICP备17020303号-1</p>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- 百度自动推送 -->
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?aa83bd353f51db2b2df5b49ec8b30a3f";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $().UItoTop({ easingType: 'easeOutQuart' });
        $(".comment-content img").removeAttr('style');
    });
</script>
<script type="text/javascript" src="{% static 'blog/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/easing.js' %}"></script>
<script src="{% static 'blog/js/easyResponsiveTabs.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#horizontalTab,#horizontalTab1,#horizontalTab2').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true   // 100% fit in a container
        });
    });
</script>
<script src="{% static 'blog/js/main.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/plugins/prism/lib/prism/prism_patched.min.js' %}"></script>
<script src="{% static 'notifications/notice.js' %}"></script>
{% block comment_script %}
{% endblock comment_script %}
</body>
</html>