{% extends 'blog/base.html' %}
{% load staticfiles %}
		    {% block gallery %}
            <div class="gallery" style="display: none;">
                <h1>图文推荐</h1>
		<!-- requried-jsfiles-for owl -->
                <link href="{% static 'blog/css/owl.carousel.css' %}" rel="stylesheet">
                <script src="{% static 'blog/js/owl.carousel.js' %}"></script>
                <script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 3,
						lazyLoad : true,
						autoPlay : true,
						pagination : false,
						navigation : true,
						navigationText :  true,
					});
				});
			    </script>
		<!-- //requried-jsfiles-for owl -->
			<!-- start content_slider -->
		            <div id="owl-demo" class="owl-carousel ">
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl " data-src="{% static 'blog/images/pi.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema"><a href="single.html">CINEMA</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi2.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema travel"><a href="single.html">Travel</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi1.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema tele"><a href="single.html">television</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema"><a href="single.html">CINEMA</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi2.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema travel"><a href="single.html">Travel</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
		            </div>
		<!--//sreen-gallery-cursual---->
            </div>
            {% endblock gallery %}

                    {% block content %}
                    {% for post in post_list %}
		            <div class="post">
                        <div id="author_time">
                            <span>{{ post.author }}&nbsp;&nbsp;&nbsp;{{ post.date_created|timesince }}前</span>
                        </div>
			            <h3><a href="{{ post.get_abs_url }}">{{ post.title }}</a></h3>
			            <p>{{ post.excerpt }}</p>

			            <div class="movie">
				            <ul class="post-footer">
					            <li id="category"><span><a href="{% url 'blog:category' post.category.name %}">Category : {{ post.category.name }}</a> </span></li>
					            <li><a href="{{ post.get_abs_url }}"><i></i><span id = "sourceId::{{ post.id }}" class = "cy_cmt_count" ></span></a></li>
                                <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cyt1Muemh">
</script>
                                <li id="views"><a href="{{ post.get_abs_url }}"><i></i>{{ post.click_count }}</a></li>
				            </ul>
				            <a href="{{ post.get_abs_url }}" class="more">Read More </a>
			                <div class="clearfix"> </div>
			            </div>
		            </div>
                    {% empty  %}
                        <p>暂时没有发布文章</p>
                    {% endfor %}

			        <div class="older-top" style="text-align: center;" >
                        {% if post_list.has_previous %}
                        <a href="?page={{ post_list.previous_page_number }}" class="older"><i> </i>上一页</a>
                        {% endif %}
                        <span id="paginate">第{{ post_list.number }}页/共{{ post_list.paginator.num_pages }}页</span>
                        {% if post_list.has_next %}
				        <a href="?page={{ post_list.next_page_number }}" class="older top-old">下一页<i > </i></a>
                        {% endif %}
				        <div class="clearfix"> </div>
			        </div>
                    {% endblock content %}
