{% extends 'blog/base.html' %}
{% load staticfiles %}
		    {% block gallery %}
            <div class="gallery" style="display: none;">
                <h1>图文推荐</h1>
		<!-- requried-jsfiles-for owl -->
                <link href="{% static 'blog/css/owl.carousel.css' %}" rel="stylesheet">
                <script src="{% static 'blog/js/owl.carousel.js' %}"></script>
                <script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 3,
						lazyLoad : true,
						autoPlay : true,
						pagination : false,
						navigation : true,
						navigationText :  true,
					});
				});
			    </script>
		<!-- //requried-jsfiles-for owl -->
			<!-- start content_slider -->
		            <div id="owl-demo" class="owl-carousel ">
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl " data-src="{% static 'blog/images/pi.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema"><a href="single.html">CINEMA</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi2.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema travel"><a href="single.html">Travel</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi1.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema tele"><a href="single.html">television</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema"><a href="single.html">CINEMA</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
			        <div class="item g1">
				        <a href="single.html"><img class="lazyOwl" data-src="{% static 'blog/images/pi2.jpg' %}" alt="name"></a>
				        <div class="caption">
					        <h3 class="cinema travel"><a href="single.html">Travel</a></h3>
					        <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
				        </div>
			        </div>
		            </div>
		<!--//sreen-gallery-cursual---->
            </div>
            {% endblock gallery %}

                    {% block content %}
                    {% for post in post_list %}
		            <div class="number">
			            <h3><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></h3>
			            <p>{{ post.excerpt }}</p>

			            <div class="movie">
				            <ul class="comment">
					            <li><span>Category : <a href="single.html">{{ post.category.name }}</a> </span></li>
					            <li><a href="#"><i> </i>5 Comments  </a></li>
				            </ul>
				            <a href="single.html" class="more">Read More </a>
			                <div class="clearfix"> </div>
			            </div>
		            </div>
                    {% empty  %}
                        <p>暂时没有发布文章</p>
                    {% endfor %}

			        <div class="older-top">
				        <a href="#" class="older"><i> </i>older posts</a>
				        <a href="#" class="older top-old"><i > </i>newer posts</a>
				        <div class="clearfix"> </div>
			        </div>
                    {% endblock content %}
