{% extends 'blog/base.html' %}
{% load staticfiles %}

                    {% block content %}
                    {% if error_msg %}
                        <h3>{{ error_msg }}</h3>
                    {% endif %}
                    {% for post in post_list %}
		            <div class="post">
                        <div id="author_time">
                            <span>{{ post.author }}&nbsp;&nbsp;&nbsp;{{ post.date_created|timesince }}前</span>
                        </div>
			            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
			            <p>{{ post.excerpt }}</p>

			            <div class="movie">
				            <ul class="post-footer">
					            <li id="category"><span><a href="single.html">Category : {{ post.category.name }}</a> </span></li>
					            <li><a href="#"><i></i>5</a></li>
                                <li id="views"><a href="#"><i></i>{{ post.click_count }}</a></li>
				            </ul>
				            <a href="single.html" class="more">Read More </a>
			                <div class="clearfix"> </div>
			            </div>
		            </div>
                    {% empty  %}
                        <h3>没有符合搜索条件的内容</h3>
                    {% endfor %}

			        <div class="older-top" style="text-align: center;" >
                        {% if post_list.has_previous %}
                        <a href="?page={{ post_list.previous_page_number }}" class="older"><i> </i>上一页</a>
                        {% endif %}
                        <span id="paginate">第{{ post_list.number }}页/共{{ post_list.paginator.num_pages }}页</span>
                        {% if post_list.has_next %}
				        <a href="?page={{ post_list.next_page_number }}" class="older top-old">下一页<i > </i></a>
                        {% endif %}
				        <div class="clearfix"> </div>
			        </div>
                    {% endblock content %}